html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-overflow-x: hidden;
  -webkit-overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: #f7f7f7;
}
body {
  margin: 0;
  padding: 0;
}
a:active, a:visited, a:link, a:hover {
  text-decoration: none;
}
::-webkit-scrollbar {
  display: none;
}
.bar, .bar-nav {
  top: 0;
  margin: 0px;
  padding: 20px 10px 0 10px;
  position: absolute;
  width: 100%;
  z-index: 99999;
}
.bar > a {
  /*margin-top: 10px;*/
  line-height: 44px;
  font-size: 21px;
  color: white;
  width: 44px;
  /*padding: 5px 15px 5px 15px;*/
  /*border-radius: 3px;*/
}
.bar  .pull-right {
  text-align: right;
}
.bar > .title {
  font-size: 17px;
  line-height: 44px;
  margin: auto;
  text-align: center;
  position: relative;
  width: 100px;
}
.form-control {
  border-radius: 0px;
  box-shadow: none;
  width: calc(100%);
  height: 42px;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 5px;
}
.btn-12 {
  width: 100%;
  line-height: 28px;
  height: 42px;
  padding: 0px;
  text-align: right;
  padding-right: 15px;
}
.col-none-padding-left {
  padding-right: 0px;
}
.col-none-padding-left input {
  padding-left: 0px;
}
.btn-box {
  border-radius: 0px;
  background-color: white;
  color: #3498DB;
}
.btn-box:focus {
  border-radius: 0px;
  background-color: white;
  color: #3498DB;
  box-shadow: none;
  border: none;
}
.form-btn {
  padding-right: 0;
}
.btn-div {
  padding-left: 0px;
  padding-right: 0px;
}
.level {
  float: right;
  font-size: 24px;
  margin-top: -3px;
  margin-left: 2px;
  color: #eee;
}
.btn-save {
  height: 38px;
  font-size: 18px;
  margin-top: 15px;
}
.text-disable[readonly] {
  background-color: white;
}
.nav-mobile {
  bottom: 0px;
  position: absolute;
  width: 100%;
  margin: 0;
}
.nav-mobile > .nav {
  height: 100%;
}
.nav-mobile>.nav>li {
  margin: 0px;
  width: 20%;
  height: 100%;
  display: block;
  text-align: center;
}
.nav>li>a {
  padding: 0px;
  text-align: center;
  height: 100%;
  font-size: 20px;
  padding-top: 12px;
}
.nav>li>a:focus, .nav>li>a:hover, .nav>li>.current-page, .nav>li>a:active {
  background-color: none;
  text-decoration: none;
  background-color: inherit;
  font-size: 24px;
  padding-top: 8px;
}
.all-events {
  max-width: 100%;
  width: 100%;
  /*height: calc(100% - 44px);*/
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.event-item {
  position: relative;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: auto;
  border-bottom: solid 1px #eee;
}

/*.event-item:last-child {
    margin-bottom: 10px;
  }*/

.event-container {
  padding: 10px;
  height: 100%;
  width: 100%;
  -webkit-transition: all 100ms linear;
  -webkit-transform: translateX(0px);
  position: relative;
  clear: both;
  z-index: 10000;
}
.event-content {
  /*width: calc(100% - 70px);*/
  float: right;
}
.event-show-delete {
  -webkit-transform: translateX(-100px);
}
.event-delete {
  margin-top: -90px;
  height: 90px;
  width: 100%;
  float: right;
  font-size: 16px;
  /*position: absolute;*/
  z-index: 0;
  padding-right: 0px;
}
.event-delete-btn, .event-location-btn, .event-reminder-btn, .event-end-btn {
  height: 100%;
  width: 75px;
  margin: 0px;
  padding: 0px;
  border-radius: 0;
  border: none;
  color: white;
  float: right;
  background-color: inherit;
}
.event-location-btn {
  border-left: solid 1px #354556;
}
.event-reminder-btn, .event-location-btn {
  background-color: #354556;
  border-right: solid 1px #2C3E50;
}
.event-location-btn {
  background-color: #2C3E50;
  border-left: solid 1px #354556;
  border-right: solid 1px #354556;
}
.event-end-btn, .event-delete-btn {
  background-color: #E74C3C;
}
.event-delete-btn {
  border-left: solid 1px #C0392B;
}
.event-item button .glyphicon {
  font-size: 17px;
}
.event-delete-btn:active {
  border: none;
}
.event-title, .event-date, .event-location {
  line-height: 30px;
  display: block;
  max-height: 30px;
  font-size: 17px;
  overflow: hidden;
}
.event-date, .event-location {
  font-size: 12px;
  line-height: 20px;
  max-height: 20px;
}
.event-date .glyphicon, .event-location .glyphicon {
  font-size: 14px;
  margin-right: 3px;
  margin-top: 3px;
  color: #1ABC9C;
}
.event-date .glyphicon-calendar {
  color: #2ECC71;
}
.event-location .glyphicon-map-marker {
  margin-left: -1px;
  margin-right: 4px;
  color: #2792d6;
}
.event-container .glyphicon {
  color: #BDC3C7;
}
.event-image {
  height: 70px;
  width: 70px;
  float: left;
  clear: right;
}
.event-image img {
  height: 70px;
  width: 62px;
  -webkit-mask-image: url('../img/hexagon.png');
}
.events-header {
  background-color: #eee;
  border-bottom: solid 1px #eee;
}
.events-header-title {
  line-height: 30px;
  font-size: 14px;
  text-transform: uppercase;
}
